::selection {
  background: #282828; /* WebKit/Blink Browsers */
  color: white;    
}
::-moz-selection {
  background: #282828; /* Gecko Browsers */
  color: white;    
    
}

body{
	font-family: 'Karla', sans-serif;
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing:antialiased;
	margin:0px;
	color: #282828;
}

a{
	text-decoration:none;
	color:inherit;
}


.hover{
	text-decoration: none;
	text-decoration-color: inherit;
	border-color: inherit;
	border-style: dotted;
	border-width: 0px 0px 1px 0px;
	transition: border-color .2s ease-in-out;	
    -moz-transition: border-color .2s ease-in-out;
    -webkit-transition: border-color .2s ease-in-out;
}

a:hover, .hover:hover{
	border-color: #FF2851;
	border-style: solid;
	border-width: 0px 0px 3px 0px;
}

.content{
	left:10%;
	top: 10%;
	right: 10%;
	position: absolute;
}

h1{
	font-weight:400;
	font-size:25px;
	line-height:1.4;
	margin-top:14px;
	max-width:600px;
	width:80%;
}

h2{
	font-size:17px;
	font-weight:100;
	line-height:1.4;
	margin-top:8px;
	max-width:600px;
	width:80%;
}

p{
	line-height: 1.5;
	font-size:14px;
	font-weight:400;
	max-width:600px;
}

.experiences{
	margin-top: 100px;
	line-height: 1.4;
	font-size:14px;
	font-weight:400;
}

.year{
	margin-top:8px;
	line-height:28px;
}

.timestamp{
	width:180px;
	float:left;
}

.title{
	float:left;
}

.sectiontitle{
	font-size:17px;
	font-weight:400;
	margin-top: 50px;
	color: #ff2851;
}

.links{
	background: #fafafa; 
	background: -webkit-linear-gradient(rgba(250,250,250,0),rgba(250,250,250,1) 40%); /*Safari 5.1-6*/
	background: -o-linear-gradient(rgba(250,250,250,0),rgba(250,250,250,1) 40%); /*Opera 11.1-12*/
	background: -moz-linear-gradient(rgba(250,250,250,0),rgba(250,250,250,1) 40%); /*Fx 3.6-15*/
	background: linear-gradient(rgba(250,250,250,0), rgba(250,250,250,1) 40%); /*Standard*/
	bottom:0px;
	height:100px;
	list-style-type:none;
	margin-left:10%;
	position:fixed;
	width:100%;
}

li{
	font-size:14px;
	font-weight:400;
	float:left;
	left:0px;
	margin-right:60px;
	margin-top:64px;
}

.img{
	display:none;
	height:70%;
	left:50%;
	opacity:0.9;
	position:fixed;
   	top:15%;
}

#wrapper{
     width:100%;
     height:100%;
     left: 0px;
     top: 0px;
     z-index: 0;
     position:fixed;
}

#particles-js{
     position:absolute;
     z-index: 0;
     width: 100%;
     height: 100%;
     background-color: #fafafa;
     background-image: url("");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: 50% 50%;

}


@media only screen and (max-width: 1050px) {

	.img{
		opacity:0.5;
	}

}

@media only screen and (max-height: 702px) {

    .experiences{
	margin-top:140px;
	font-size:14px;
	font-weight:400;
	position:relative;
	}

}

@media only screen and (max-width: 542px) {

    .timestamp{
	width:100%;
	font-style: italic;
	font-weight: 800;
	float:left;
	}

}


}